.appointment-info-panel {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.confirm-appointment-health-professional-label {
    font-size: 1.2rem;
}

.online-appointment-button-panel {
    text-align: center;
}
