.nav-section-centered {
    text-align: center;
}

.nav-icon {
    color: #fff; /* white */
}

.footer-panel {
    padding: 0.5rem 0 1rem;
    text-align: center;
    background-color: #333;
    color: #667; /* dimgrey */
}

.footer-social-icons {
    margin: 0;
    list-style-type: none;
    font-size: 2.25rem;
}

.footer-social-icon {
    display: inline;
    margin-left: 0.45rem;
    margin-right: 0.45rem;
}

.footer-logo-panel {
    line-height: 2.5rem;
}

.footer-logo {
    font-size: 2.5rem;
}

.footer-links {
    margin: 0 0 0.25rem;
    list-style-type: none;
    display: inline-block;
}

.footer-link {
    display: inline;
    margin-left: 0.15rem;
    margin-right: 0.15rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
}

.footer-copyright {
    margin-bottom: 0;
    font-size: 0.75rem;
}

/* medium screens */
@media only screen and (min-width: 40.063em) {
    .footer-panel {
        padding-top: 1rem;
    }

    .footer-logo-panel {
        text-align: right;
    }
}
