a.tab-bar-title:link {
    color: #fff; /* white */
}

a.tab-bar-title:active {
    color: #fff; /* white */
}

a.tab-bar-title:visited {
    color: #fff; /* white */
}

a.tab-bar-title:hover {
    color: #fff; /* white */
}

.footer-panel {
    padding: 0.5rem 0 1rem;
    text-align: center;
    background-color: #333;
    color: #667; /* dim grey*/
}

.footer-social-icons {
    margin: 0;
    list-style-type: none;
    font-size: 2.25rem;
}

.footer-social-icon {
    display: inline;
    margin-left: 0.45rem;
    margin-right: 0.45rem;
}

.footer-mail-icon {
    color: #4169e1; /* royal blue */
}

.footer-logo-panel {
    line-height: 2.5rem;
}

.footer-logo {
    font-size: 2.5rem;
}

a.footer-logo:link {
    color: #4169e1; /* royal blue */
}

a.footer-logo:active {
    color: #4169e1; /* royal blue */
}

a.footer-logo:visited {
    color: #4169e1; /* royal blue */
}

a.footer-logo:hover {
    color: #4169e1; /* royal blue */
}

.footer-copyright {
    margin-bottom: 0;
    padding-top: 1rem;
    font-size: 0.75rem;
}

/* medium screens */
@media only screen and (min-width: 40.063em) {
    .footer-panel {
        padding-top: 1rem;
    }

    .footer-logo-panel {
        text-align: right;
    }
}
