.doctor-online-appointment-label {
    margin-bottom: 1.25rem;
}

.doctor-online-appointment-image-panel {
    text-align: center;
}

.online-appointment-call-items-separator-top {
    margin-bottom: 0;
}

.online-appointment-call-items {
    margin: 0;
    text-align: center;
    list-style-type: none;
    font-size: 1.95rem;
}

.online-appointment-call-item {
    display: inline;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.online-appointment-call-icon-link {
    color: #191970; /* midnight blue */
}

a.online-appointment-call-icon-link:link {
    color: #191970; /* midnight blue */
}

a.online-appointment-call-icon-link:active {
    color: #191970; /* midnight blue */
}

a.online-appointment-call-icon-link:visited {
    color: #191970; /* midnight blue */
}

a.online-appointment-call-icon-link:hover {
    color: #191970; /* midnight blue */
}

.online-appointment-call-mic-mute-icon {
    color: #d3d3d3; /* light grey */
}

a.online-appointment-call-mic-mute-icon {
    color: #d3d3d3; /* light grey */
}

a.online-appointment-call-mic-mute-icon:link {
    color: #d3d3d3; /* light grey */
}

a.online-appointment-call-mic-mute-icon:active {
    color: #d3d3d3; /* light grey */
}

a.online-appointment-call-mic-mute-icon:visited {
    color: #d3d3d3; /* light grey */
}

a.online-appointment-call-mic-mute-icon:hover {
    color: #d3d3d3; /* light grey */
}

.online-appointment-call-add-call-icon {
    color: #000; /* black */
}

a.online-appointment-call-add-call-icon:link {
    color: #000; /* black */
}

a.online-appointment-call-add-call-icon:active {
    color: #000; /* black */
}

a.online-appointment-call-add-call-icon:visited {
    color: #000; /* black */
}

a.online-appointment-call-add-call-icon:hover {
    color: #000; /* black */
}

.online-appointment-call-end-call-icon {
    color: #dc143c; /* crimson */
}

a.online-appointment-call-end-call-icon:link {
    color: #dc143c; /* crimson */
}

a.online-appointment-call-end-call-icon:active {
    color: #dc143c; /* crimson */
}

a.online-appointment-call-end-call-icon:visited {
    color: #dc143c; /* crimson */
}

a.online-appointment-call-end-call-icon:hover {
    color: #dc143c; /* crimson */
}
