.sample-workflows-header {
    margin-top: 1rem;
    text-align: center;
}

.workflow-panel {
    line-height: 3.75rem;
    text-align: center;
}

.workflow-icon-panel {
    vertical-align: sub;
}

.workflow-icon {
    font-size: 3.75rem;
}

.workflow-icon-text {
    margin-left: 2.5rem;
    vertical-align: super;
    font-size: 1.15rem;
    text-transform: uppercase;
}

a.workflow-icon-text:link {
    color: #000; /* black */
}

a.workflow-icon-text:active {
    color: #000; /* black */
}

a.workflow-icon-text:visited {
    color: #000; /* black */
}

a.workflow-icon-text:hover {
    color: #000; /* black */
}

.baby-icon {
    color: #ffd700; /* gold */
}
