.y2h-story-panel {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    background-color: #4169e1; /* royalblue */
}

.y2h-story-header {
    margin-top: 0;
}

a.y2h-story-link:link {
    color: #fff; /* white */
}

a.y2h-story-link:active {
    color: #fff; /* white */
}

a.y2h-story-link:visited {
    color: #fff; /* white */
}

a.y2h-story-link:hover {
    color: #fff; /* white */
}

.sample-workflows-header {
    margin-top: 1rem;
    text-align: center;
}

.workflow-panel {
    line-height: 3.75rem;
    text-align: center;
}

.workflow-icon {
    font-size: 3.75rem;
}

.small-icon-text {
    font-size: 1.15rem;
    text-transform: uppercase;
}

a.small-icon-text:link {
    color: #000; /* black */
}

a.small-icon-text:active {
    color: #000; /* black */
}

a.small-icon-text:visited {
    color: #000; /* black */
}

a.small-icon-text:hover {
    color: #000; /* black */
}

.issues-icon {
    color: #dc143c; /* crimson */
}

.baby-icon {
    color: #ffd700; /* gold */
}
