.sample-workflows-header {
    margin-top: 1rem;
    text-align: center;
}

.workflow-panel {
    line-height: 3.75rem;
    text-align: center;
}

.workflow-icon {
    font-size: 3.75rem;
}

.small-icon-text {
    font-size: 1.15rem;
    text-transform: uppercase;
}

a.small-icon-text:link {
    color: #000; /* black */
}

a.small-icon-text:active {
    color: #000; /* black */
}

a.small-icon-text:visited {
    color: #000; /* black */
}

a.small-icon-text:hover {
    color: #000; /* black */
}

.issues-icon {
    color: #dc143c; /* crimson */
}

.baby-icon {
    color: #ffd700; /* gold */
}
