.plan-item-panel {
    padding-bottom: 0;
}

.plan-item-icon-panel {
    text-align: right;
}

.plan-item-icon {
    font-size: 2rem;
}

.parenting-guide-icon {
    color: green;
}

.plan-item-icon-text-panel {
    line-height: 2rem;
}

.plan-item-icon-text {
    font-size: 1.2rem;
}

.plan-item-content {
    margin-top: 1rem;
}

.plan-item-action-button {
    text-align: center;
    margin-bottom: 0.5rem;
}

a.action-button-inactive:link {
    background-color: #d3d3d3; /* light grey */
}

a.action-button-inactive:active {
    background-color: #d3d3d3; /* light grey */
}

a.action-button-inactive:visited {
    background-color: #d3d3d3; /* light grey */
}

a.action-button-inactive:hover {
    background-color: #d3d3d3; /* light grey */
}

.connect-with-health-professional-icon {
    color: #191970; /* midnight blue */
}
